/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* basic color palette */
  --white-1: #fff;
  --black-1: #323639;
  --title-2: #0d6efd;
  /* fonts */
  --ft-fy-fallback-1: sans-serif;
  --ft-fy-1: "Poppins", var(--ft-fy-fallback-1);
  --ft-se-400: 1rem;
  /* spaces */
  --space-400: 2em;
}
.page {
  padding: var(--space-400);
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr;
  grid-template-areas: "main";
  background-color: var(--black-1);
  font-size: var(--ft-se-400);
  font-family: var(--ft-fy-1);
}
.page__main {
  display: grid;
  place-items: center;
  grid-area: main;
}
.page__form {
  width: calc(100% - var(--space-400));
  max-width: 500px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.form__header {
  color: var(--black-1);
}
/* .form__title {
  padding: var(--__title_pg);
  font-size: var(--__title_ft-se);
} */
.form__body {
  gap: var(--__body_gap);
  padding: var(--__body_pg);
  display: flex;
  flex-direction: column;
}
/* .form__linput {
  display: flex;
  align-items: center;
} */
